header{
    background: #F3F5FC;
}

body{
    background: #F3F5FC;
}

#texto-transformado{  
    position: absolute;
    top: 10px;
    width: 380px;
    height: 600px;
    left: 930px;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    color: #0A3871;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.input-padrao{
    position: absolute;
    margin: 0 0 0 160px;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
    outline: 0;
}

.aviso{    
    position: absolute;
    margin: 400px 0 0 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.fonte-botao input[type=submit]{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}

.codificar{
    position: absolute;
    margin: 420px 0 0 160px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.decodificar{
    position: absolute;
    margin: 420px 0 0 500px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

.estilizacao{
    position: absolute;
    margin: 20px 0 0 930px;
    top: 50px;
    width: 380px;
    height: 500px;    
}

::-webkit-input-placeholder {
    color: #0A3871;
}